.cover {background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
background-image: url(backphoto/ba2.jpg);

}
.menu {

  
}
.menu ul{

    list-style-type: none;
    text-align: right;
   
}
.menu ul li{
    display: inline-block;
    
}
.menu ul li a{
    text-decoration: none;
    display: inline-block;
    padding-right: 10px;
    color:black;
    border: 20px solid rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    margin-right: 5px;
    
    
}
.menu ul li a:hover{
background: rgba(150, 87, 87, 0.3);
color: rgb(36, 35, 34);
}



.head {
font-family: 'Times New Roman', Times, serif;
    text-align:left; 
    line-height: 5px;
    padding-top: 40px;
    padding-left: 10px;
    margin-top: 100px;
    }
h1{

    color: rgb(255, 141, 2);
}
h4{color: white;}
h2{color: rgb(10, 6, 247);
}
.leg{
font-family: 'Times New Roman', Times, serif;
color:bisque;
padding-left: 10px;
}

.para{
color: rgb(245, 209, 141);
 background-color: rgba(255, 255, 255, 0.3);
}
.btn {
padding-right: 100px;
text-align: right;
}
.bn{
padding: 15px 30px;
font-size: 15px;
color: white;
background: rgba(255, 255, 255, 0.2);
cursor: pointer;
}
