.img {
background-image: url();

}

.head {
font-family: 'Times New Roman', Times, serif;
    text-align:left; 
    line-height: 5px;
    padding-top: 100px;
    padding-left: 20px;
    margin-top: 50px;
}